body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/*header has only the background-image*/
header{
    width: 100%;
    background-image: url("images/headerPic.jpg");
    background-position: center;
    background-color: grey;
    background-size:cover;
    height: 200px;
}
/*headline*/
h1{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 26px;
    color: black;
    margin-bottom: 0px;
}
/*decoration in headline; maybe just white text with black letter boarder -> how to do that?*/
span{
    color: white;
    background-color: black;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
}
/*input & buttons(anchors)*/
.input, .button-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
}
/*placeholder in input boxes*/
.placeholder{
    margin-top: 30px;
    outline: none;
    padding: 4px 0px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    width: 180px;
}
::placeholder{
    text-align: center;
}
.placeholder:focus::placeholder{
    opacity: 0.1;
}
/*end placeholder*/
/*buttons are anchors*/
a{
    text-decoration: none;
}
/*buttons*/
.btn{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 15px; 
    padding: 10px 14px;
    border-radius: 7px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 150px;
}
/*button text is not centered in mobile?*/
.watchedBtn, .watch-again-Btn{
    width: 100px;
    margin: 0px auto;
    padding: 8px 0px;
    font-weight: 600;
    float: right;
    background-color: rgb(220, 220, 220);
}
/*add :focus states? */
.watchedBtn:hover, .watch-again-Btn:hover{
    background-color: rgb(180, 180, 180);
}
.watchedBtn:active, .watch-again-Btn:active{
    background-color: rgb(220, 220, 220);
}
#wantBtn{
    border: 1px solid black;
    background-color: black;
    color: white;
}
#haveBtn{
    margin-left: 20px;
    border: 1px solid black;
    color: black;
    background-color: white;
}
#wantBtn:hover{
    color: black;
    background-color: white;
}
#haveBtn:hover{
    background-color: black;
    color: white;
}
/*backt to the top button*/
.toTop{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 1;
    border: 1px solid black;
    outline: none; 
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px;
    border-radius: 7px;
    font-size: 18px;
    width: 50px;
} /* how to not have it overlap with watched and again-button, but just next to it, not on right boarder of window?*/
.toTop:hover {
    color: white;
    background-color: black;
  }
/*end buttons*/
/*section movies want to watch*/
.containerWantWatch, .containerHaveWatched{
    display: flex;
    flex-direction: column;
    margin: 10px 70px 45px 0px;
    width: 380px;
    line-height: 2.2;
}
.movieWantLine, .movieHaveLine{
    display: flex;
    margin-top: 15px;  
}
.movieTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    font-size: 16px;
    line-height: 2.2;
}
/* watched button goes to the right of this*/
/* end section movies want to watch*/
/*section movies have watched*/
.listHaveWatched{
    max-width: 400px;
    list-style:none;
    list-style-position: outside;
    text-align: left;
    margin-top:10px;
    line-height: 2.8;
}
/* end section movies have watched*/

/*media query for mobile
needs to be fixed, everything is out of place*/
@media (max-width: 400px){
    header{
        max-width: 480;
    }
    body{
        width: 90%;
    }
    .input, .button-section{
        width: 350px;
    }
    .btn{
        padding: 2px 3px;
        height: 20px;
    }
    .placeholder{
        width: 180px;
    }
}